<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WINExercise09.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WINExercise09.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WINExercise09.Properties.Settings>
            <setting name="Age" serializeAs="String">
                <value>59</value>
            </setting>
            <setting name="BackupAge" serializeAs="String">
                <value>59</value>
            </setting>
        </WINExercise09.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WINExercise09.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>John Malkovich</value>
            </setting>
        </WINExercise09.Properties.Settings>
    </applicationSettings>
</configuration>